torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
ema-pytorch==0.3.0
jupyter
mlflow
tqdm
numpy==1.26.1
matplotlib
bs4
requests
pandas

# pre-commit
pre-commit
black[d]
pycln
isort
mypy
pytest
pylint
